body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  color: white !important;
  background-color: #0359a1 !important;
  padding: 6px !important;
  border-radius: 4px !important;
}
